/* Header */
header {
    background-color: #FFFDFA;
    height: 100px;
    display: flex;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);

    position: sticky;
    position: -webkit-sticky;
}

.h-alignment {
    display: flex;
    align-items: center;
}

/* Menu */
.hideMenuIcon {
    visibility: hidden;
}

.showMenu {
    visibility: visible;
}

.menu-icon-button {
    height: 100%;
    background-color: transparent;
    padding: 12px;
    border: 2px solid #7a36be;
    border-radius: 30px;
}

/* Logo */
.logo-icon-a {
    margin: 0 auto;
}

.logo-icon-a img {
    width: 70px;
}

/* Search */
.search-icon-div {
    position: relative;
    display: flex;
    align-items: center;
}

.hideSearchBar {
    visibility: hidden;
    opacity: 0;
}

.search-input {
    border: 1px solid rgba(122, 54, 190, 0.2);
    border-radius: 15px 5px 5px 15px;
    padding: 5px;
    padding-left: 10px;
    margin-right: 10px;
    caret-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(122, 54, 190, 0.1);

    position: absolute;
    left: -210px;
}

/* Login */
.login-icon-button {
	margin-left: 20px;
    display: flex;
    width: 70px;
}