/* General styles */
header button {
    outline-color: transparent;
    border: none;
    background-color: transparent;

	opacity: 0.7;
    transition: opacity 200ms;
}

header button:hover {
    opacity: 1;
}

/* Header */
header {
    background-color: #FFFDFA;
    height: var(--header-height);
    display: flex;
    align-items: center;

    border-bottom: var(--header-border-bottom-height) solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);

    position: sticky;
    position: -webkit-sticky;
}

header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menu */
.menu-icon-button {
    padding: 12px;
    border: 2px solid var(--primary-color);
    border-radius: 100%;
    display: flex;
}

/* Logo */
.logo-icon-a img {
    width: 70px;
}

.logo-icon-button {
    opacity: 1;
}

/* Login */
.login-icon-button {
    width: 52px;
}

/* Media Queries */

@media (max-width: 530px) {
    .logo-icon-a img {
        width: 60px;
    }
}