footer {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--footer-height);
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links > a {
    margin-right: 16px;
}

.footer-links > a:last-child {
    margin-right: 0;
}