@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 67.5%;
}

.container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

:root {
    --header-height: 100px;
    --header-border-bottom-height: 1px;
    --primary-color: #7a36be;
}