@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 67.5%;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

:root {
    --header-height: 100px;
    --header-border-bottom-height: 1px;
    --primary-color: #7a36be;
    --secondary-color: #f9d366;
}

@media (max-width: 980px) {
    html, body {
        font-size: 55%;
    }
}